@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color: #fa0;
}

bod::-webkit-scrollbar {
    display: none;
}

.hero-bg-img {
  background-image: url("../public/images/bg-hero2.JPG");
}
